{% extends '::base.html.twig' %}

{% block body %}
    <!-- formulaire de reception d'un contact -->
    <h1>Confirmation de votre demande sur www.my-orléans.com</h1>

    <div>
        <p><strong>Message :</strong> {{ demande }}</p>
    </div>
{% endblock %}