{% extends 'MyOrleansBundle::layout.html.twig' %}

{% block video %}
    <div class="container-fluid">
        <video width="100%" autoplay loop muted>
            <source src="{{ asset('video/MyOrleans.mp4') }}" type="video/mp4">
            <source src="{{ asset('video/MyOrleans.mp4') }}" type="video/ogg">
            <source src="{{ asset('video/MyOrleans.mp4') }}" type="video/webm">
        </video>
    </div>
{% endblock video %}

{% block content %}
    <div class="container-fluid">
        <h1>DÉCOUVREZ NOTRE SELECTION DE PROGRAMMES</h1>
        <section class="home-mast">
            <div class="home-mast__container">
                <div>
                    <div class="absolute-bg" style="background-image: url('https://source.unsplash.com/3IEZsaXmzzs/1500x1200');"></div>
                </div>
                <div class="">
                    <div class="absolute-bg" style="background-image: url('https://source.unsplash.com/BIZv8MWH00s/1500x1200');"></div>
                </div>
            </div>
        </section>

        <h1>NOTRE ÉQUIPE</h1>
        <div class="row">
            <div class="offset-s1 col s5">
                <img src="{{ asset('img/test/barillet.png') }}">
            </div>
        </div>
    </div>
{% endblock content %}