{% extends '::base.html.twig' %}

{% block body %}
    <!-- message de confirmation d'un contact -->
    <img src="http://www.my-tours.com/img/logo_mytours.png">
    <h1>Confirmation de votre demande sur www.my-tours.com</h1>

    <div>
        <p>Bonjour.<br/>Nous avons bien reçu votre message et vous remercions pour l'intérêt que vous portez aux biens et
            services proposés par My TOURS.<br/>Nous revenons vers vous prochainement avec les éléments demandés.<br/>Vous
            souhaitant une excellente journée. Bien cordialement. L'équipe de My TOURS</p>
    </div>
    <div>
        <p><strong>Votre demande :</strong> {{ demande }}</p>
    </div>
{% endblock %}