/* --------------------------------------------------------------------*/
/* ----------------------------- GENERAL ------------------------------*/
/* --------------------------------------------------------------------*/
@font-face {
    font-family: "Montserrat";
    src: url('../fonts/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
    font-family: "Cantarell";
    src: url('../fonts/Cantarell/Cantarell-Regular.ttf');
}

@font-face {
    font-family: "Lato";
    src: url('../fonts/Lato/Lato-Regular.ttf');
}

@font-face {
    font-family: "Gill Sans";
    src: url('../fonts/Gill_Sans/Gill Sans MT.ttf');
}

@font-face {
    font-family: "Work Sans";
    src: url('../fonts/Work_Sans/WorkSans-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
}

body {
    color: #1D1D1B;
}

a {
    color: inherit;
}

h2 {
    text-align: center;
    color: #B5CC17;
    font-family: Montserrat;
    font-weight: 300;
    font-size: 34pt;
    margin-top: 70px;
    text-transform: uppercase;
}

.align-icon {
    display: inline-flex;
    vertical-align: middle;
    padding-right: 10px;
}

.row {
    margin-bottom: 0;
}

.greenMyO, .greenMyO:hover, .greenMyO:focus, .greenMyO:active {
    background-color: #B5CC17;
}

.accrocheResidence {
    box-shadow: none;
}

.align-icon {
    display: inline-flex;
    vertical-align: middle;
    padding-right: 10px;
}

@media screen and (max-width: 992px) {
    h2 {
        margin-top: 10px;
        font-size: 12pt;
    }
}

/* --------------------------------------------------------------------*/
/* ----------------------------- NAVBAR -------------------------------*/
/* --------------------------------------------------------------------*/
.logo {
    height: 50px;
    margin-top: 7px;
    margin-left: 7px;
}

nav {
    background-color: #F2F2F2;
    z-index: 1000;
    box-shadow: none;
}

nav li a:hover {
    border-bottom: solid 2px #B5CC17;
    background-color: transparent;
    color: #B5CC17;
}

#sidenav-overlay {
    z-index: 996;
}

nav ul a, nav li, nav label {
    color: #676767;
    font-family: Montserrat;
    font-weight: 400;
    letter-spacing: .55pt;
    font-size: 13pt;
}

nav label {
    margin-left: 20px;
    margin-right: 5px;
}

nav ul {
    margin-right: 20px;
}

#simpleSearch {
    display: none;
}

#simpleSearch input[type="search"]:not(.browser-default) {
    height: 13pt;
    border-bottom: 1px solid #B5CC17;
}

#simpleSearch input[type="search"]:focus:not(.browser-default):not([readonly]) {
    border-bottom: 1px solid #B5CC17;
    box-shadow: 0 1px 0 0 #B5CC17;
}

#simpleSearch input[type="text"]:not(.browser-default) {
    height: 13pt;
    border-bottom: 1px solid #B5CC17;
    margin-top: 25px;
}

/* --------------------------------------------------------------------*/
/* ---------------------- FORMULAIRE DE CONTACT -----------------------*/
/* --------------------------------------------------------------------*/
.formulaireBouton a {
    text-decoration: none;
    color: white;
    /*centering*/
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.35);
    background-color: #B5CC17;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-top: 100px;
    position: fixed;
    right: 20px;
    padding: 10px;
    z-index: 200;
    -webkit-animation: pulse 2s infinite cubic-bezier(0, 0, 0, 0.1);
    -moz-animation: pulse 2s infinite cubic-bezier(0, 0, 0, 0.1);

    animation: pulse 2s infinite cubic-bezier(0, 0, 0, 0.1);
}

.button-collapse {
    color: #676767;
}

#mobile-demo input[type="search"]:not(.browser-default) {
    height: 1rem;
    border-bottom: 1px solid #B5CC17;
    width: 80%;
    margin-left: 5%;
}

#mobile-demo input[type="search"]:focus:not(.browser-default):not([readonly]) {
    border-bottom: 1px solid #B5CC17;
    box-shadow: 0 1px 0 0 #B5CC17;
}

#mobile-demo input[type="text"]:not(.browser-default) {
    height: 13pt;
    border-bottom: 1px solid #B5CC17;
    width: 80%;
    margin-left: 5%;
}

#mobile-demo .select-wrapper span.caret {
    right: 15%;
}

.go button {
    color: #676767;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 0 10px;
    margin: 0 15px;
}

/* --------------------------------------------------------------------*/
/* ----------------------------- FOOTER -------------------------------*/
/* --------------------------------------------------------------------*/
.footer1 {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #C8CACC;
    margin-top: 100px;
}

footer h5 {
    color: white;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 19pt;
    letter-spacing: 0.5pt;
    margin-bottom: 15px;
}

footer p {
    font-family: Cantarell;
    font-weight: 400;
    font-size: 16pt;
    letter-spacing: 0.1pt;
    margin-top: 0;
    margin-bottom: 0;
}

.footer2 {
    background-color: #B3B3B3;
    padding-top: 10px;
    padding-bottom: 10px;
}

.h5Footer {
    margin-top: 20px;
}

.bordureFooter {
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.contact p {
    font-size: 19pt;
}

.social-btn {
    height: 65px;
    width: 65px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background-color: white;
    margin: 15px 50px 0 0;
    -webkit-transition: background-color 500ms ease-out 10ms;
    -moz-transition: background-color 500ms ease-out 10ms;
    -o-transition: background-color 500ms ease-out 10ms;
    transition: background-color 500ms ease-out 10ms;
}

.social-btn:hover {
    background-color: #1D1D1B;
}

.ytb-social {
    margin-top: 10px;
    color: #C8CACC;
}

.gplus-social {
    margin-top: 10px;
    color: #C8CACC;
}

.fb-social {
    margin-top: 11px;
    color: #C8CACC;
}

.linkFooter a {
    -webkit-transition: color 500ms ease-out 10ms;
    -moz-transition: color 500ms ease-out 10ms;
    -o-transition: color 500ms ease-out 10ms;
    transition: color 500ms ease-out 10ms;
}

.linkFooter a:hover {
    color: white;
}

.logoFooter {
    height: 48px;
}

#modalHonoraire {
    max-height: 80%;
    width: 40%;
}

#modalHonoraire .modal-content {
    padding: 0;
}

#modalHonoraire div img {
    height: 70vh;
}

@media only screen and (max-width: 992px) {
    #modalHonoraire {
        width: 90%;
    }
}

/* --------------------------------------------------------------------*/
/* ---------------------- FORMULAIRE DE CONTACT -----------------------*/
/* --------------------------------------------------------------------*/
.formulaireBouton a {
    text-decoration: none;
    color: white;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.35);
    background-color: #B5CC17;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-top: 100px;
    position: fixed;
    right: 20px;
    padding: 10px;
    z-index: 200;
    -webkit-animation: pulse 2s infinite cubic-bezier(0, 0, 0, 0.1);
    -moz-animation: pulse 2s infinite cubic-bezier(0, 0, 0, 0.1);

    animation: pulse 2s infinite cubic-bezier(0, 0, 0, 0.1);

}

.pulse-button:hover {
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
}

@-webkit-keyframes pulse {
    to {
        box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
    }
}

@-moz-keyframes pulse {
    to {
        box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
    }
}

@-ms-keyframes pulse {
    to {
        box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
    }
}

@keyframes pulse {
    to {
        box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
    }
}

.formulaireVolet {
    width: 400px;
    z-index: 1100;
    background-color: rgba(255, 255, 255, 0.9);
    padding-bottom: 50px;
}

.formulaireVolet .contactNous {
    font-size: 26pt;
}

.formulaireVolet .contactTel {
    font-size: 22pt;
}

[type="radio"]:not(:checked) + label, [type="radio"]:checked + label {
    padding-left: 25px;
    padding-right: 30px;
}

[type="checkbox"] + label {
    padding-left: 20px;
    padding-right: 20px;
}

[type="radio"]:checked + label::after {
    background-color: #B5CC17;
    border: #B5CC17;
}

.newsletter {
    text-align: center;
}

.envoyer {
    margin-bottom: 100px;
}

/* --------------------------------------------------------------------*/
/* ------------------------ BACK TO TOP --------------------------*/
/* --------------------------------------------------------------------*/

#back-top {
    position: fixed;
    bottom: 30px;
    z-index: 99;
}

#back-top a {
    position: fixed;
    right: 20px;
    bottom: 15px;
    width: 108px;
    display: block;
    text-align: center;
    font: 11px/100% Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #bbb;

    /* transition */
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

#back-top a:hover {
    color: #000;
}

/* arrow icon (span tag) */
#back-top span {
    width: 108px;
    height: 108px;
    display: block;
    margin-bottom: 7px;
    /*background: #ddd url(img/up-arrow.png) no-repeat center center;*/

    /* rounded corners */
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;

    /* transition */
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

#back-top a:hover span {
    background-color: #777;
}

#back-top a img {
    height: 20%;
    width: 20%;

}

/* --------------------------------------------------------------------*/
/* ------------------------------ INDEX -------------------------------*/
/* --------------------------------------------------------------------*/
.accueil {
    position: relative;
    overflow: hidden;
}

video {
    width: 100%;
    height: 100%;
}

.accueil video {
    filter: brightness(50%);
    object-fit: cover;
}

.accueil > .logoAccueil {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 50%;
}

.accueil .imageAccueil {
    filter: brightness(50%);
    width: 100%;
}

.mosaic {
    margin-top: 70px;
    display: flex;
}

.voir {
    background-color: #F2F2F2;
    text-align: center;
    margin: 5px;
    height: 60px;
    color: #676767;
    font-family: Montserrat;
    font-weight: 400;
    letter-spacing: .55pt;
    font-size: 12pt;
    padding-top: 15px;
}

.zone {
    margin: 5px;
    text-align: center;
    flex: 1;
    -moz-transition: 500ms;
    -o-transition: 500ms;
    -webkit-transition: 500ms;
    transition: 500ms;
    overflow: hidden;
    position: relative;
}

.zone:hover {
    flex: 2;
    -moz-transition: 500ms;
    -o-transition: 500ms;
    -webkit-transition: 500ms;
    transition: 500ms;
}

.zone > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -moz-transition: 500ms;
    -o-transition: 500ms;
    -webkit-transition: 500ms;
    transition: 500ms;
}

.colonne {
    display: flex;
    flex-direction: column;
    height: 700px;
    flex: 1;
    -moz-transition: 500ms;
    -o-transition: 500ms;
    -webkit-transition: 500ms;
    transition: 500ms;
    overflow: hidden;
}

.colonne:hover {
    flex: 2;
    -moz-transition: 500ms;
    -o-transition: 500ms;
    -webkit-transition: 500ms;
    transition: 500ms;
}

.zone > .contenu {
    background-color: rgba(242, 242, 242, .8);
    text-transform: uppercase;
    position: absolute;
    top: 20%;
    left: 5%;
    width: 90%;
    height: 60%;
    opacity: 0;
    font-family: Montserrat;
    font-weight: 300;
    line-height: 100%;
}

.contenu > a {
    text-align: center;
    color: rgba(242, 242, 242, .8);
    background-color: #676767;
    font-size: 15pt;
    padding: 5px;
}

.zone:hover .contenu {
    opacity: 1;
    -moz-transition-delay: 500ms;
    -o-transition-delay: 500ms;
    -webkit-transition-delay: 500ms;
    transition-delay: 500ms;
}

.zone:hover > img {
    filter: brightness(40%);
    -moz-transition: 500ms;
    -o-transition: 500ms;
    -webkit-transition: 500ms;
    transition: 500ms;
}

.contenu > h3 {
    margin-bottom: 5%;
    margin-top: 30px;
    font-size: 30pt;
}

.temoignage {
    margin-top: 150px;
}

.enteteCarousel {
    background-color: #F2F2F2;
    text-align: center;
    color: #676767;
    font-family: Montserrat;
    font-weight: 400;
    letter-spacing: .55pt;
    font-size: 16pt;
}

.enteteCarousel > h3 {
    padding: 15px;
    font-size: 19pt;
    margin: 0;
}

.slider {
    position: relative;
}

.imageTemoignage {
    filter: brightness(60%);
}

.slider .slides li .caption{
    top: 0;
    left: 0;
    width: 100%;
    font-family: Cantarell;
    font-weight: 400;
    letter-spacing: 0.1pt;
    font-size: 14pt;

}

.slider .slides li .caption p{
    padding: 10px;
}

.slider .slides li .caption span {
    font-size: 24pt;
}

.prev {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: -45px;
    z-index: 100;
}

.next {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: -45px;
    z-index: 100;
}

.btn-large .fa-caret-right {
    font-size: 64px;
    margin-left: 6px;
}

.btn-large .fa-caret-left {
    font-size: 64px;
    margin-left: -9px;
}


@media screen and (max-width: 992px) {
    .mosaic {
        margin-top: 20px;
        display: block;
    }

    .colonne {
        display: block;
        height: auto;
    }

    .zone > img {
        height: 250px;
    }

    .contenu h3 {
        font-size: 15pt;
        float: left;
        margin: 0;
        padding: 15px 5px;
    }

    .contenu a {
        font-size: 8pt;
        float: right;
        background-color: #B5CC17;
        margin-right: 5px;
        margin-top: 10px;
        padding: 10px;
    }

    .voir {
        display: none;
    }

    .zone > .contenu {
        position: absolute;
        left: 0;
        top: auto;
        bottom: 5px;
        width: 100%;
        height: auto;
        opacity: 1;
        font-weight: 300;
    }

    .zone:hover > img {
        filter: none;
    }
}

.circle-container {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    position: relative;
    width: 30em;
    height: 30em;
    display: block;
    border: 1px solid #B5CC17;
    margin: 2em auto;
}

.circle-container > * {
    display: table;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4em;
    height: 4em;
    margin-top: -2em;
    margin-left: -2em;
    text-align: center;
    -moz-transition: -moz-transform 1.5s cubic-bezier(0.31, 1.47, 0.475, 1.005);
    -o-transition: -o-transform 1.5s cubic-bezier(0.31, 1.47, 0.475, 1.005);
    -webkit-transition: -webkit-transform 1.5s cubic-bezier(0.31, 1.47, 0.475, 1.005);
    transition: transform 1.5s cubic-bezier(0.31, 1.47, 0.475, 1.005);
}

.circle-container > *:nth-of-type(1) {
    -moz-transform: rotate(630deg) translate(15em) rotate(-630deg);
    -ms-transform: rotate(630deg) translate(15em) rotate(-630deg);
    -webkit-transform: rotate(630deg) translate(15em) rotate(-630deg);
    transform: rotate(630deg) translate(15em) rotate(-630deg);
}

.circle-container > *:nth-of-type(2) {
    -moz-transform: rotate(702deg) translate(15em) rotate(-702deg);
    -ms-transform: rotate(702deg) translate(15em) rotate(-702deg);
    -webkit-transform: rotate(702deg) translate(15em) rotate(-702deg);
    transform: rotate(702deg) translate(15em) rotate(-702deg);
}

.circle-container > *:nth-of-type(3) {
    -moz-transform: rotate(774deg) translate(15em) rotate(-774deg);
    -ms-transform: rotate(774deg) translate(15em) rotate(-774deg);
    -webkit-transform: rotate(774deg) translate(15em) rotate(-774deg);
    transform: rotate(774deg) translate(15em) rotate(-774deg);
}

.circle-container > *:nth-of-type(4) {
    -moz-transform: rotate(846deg) translate(15em) rotate(-846deg);
    -ms-transform: rotate(846deg) translate(15em) rotate(-846deg);
    -webkit-transform: rotate(846deg) translate(15em) rotate(-846deg);
    transform: rotate(846deg) translate(15em) rotate(-846deg);
}

.circle-container > *:nth-of-type(5) {
    -moz-transform: rotate(918deg) translate(15em) rotate(-918deg);
    -ms-transform: rotate(918deg) translate(15em) rotate(-918deg);
    -webkit-transform: rotate(918deg) translate(15em) rotate(-918deg);
    transform: rotate(918deg) translate(15em) rotate(-918deg);
}

.circle-container a {
    filter: grayscale(100%);
    display: table-cell;
    vertical-align: middle;
    font-size: 0.8em;
    font-weight: 600;
    line-height: 1.2em;
    outline: 0;
    width: 100%;
    height: 100%;
    -webkit-tap-highlight-color: transparent;
    -moz-transition: background 400ms ease-in-out, -moz-transform 200ms ease;
    -o-transition: background 400ms ease-in-out, -o-transform 200ms ease;
    -webkit-transition: background 400ms ease-in-out, -webkit-transform 200ms ease;
    transition: background 400ms ease-in-out, transform 200ms ease;
}

.no-touch .circle-container a:hover {
    filter: none;
}

.circle-container a:active {
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.circle-container a:focus {
    filter: none;
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.collaborateurBarillet {
    width: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.bioCollaborateur {
    display: block;
    position: relative;
}

.bioCollaborateur > li {
    display: block;
    position: absolute;
    top: -400px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 20em;
    height: 20em;
}

.circle-container .active {
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    filter: none;
}

.bioCollaborateur > li a {
    display: none;
}

.bioCollaborateur .active {
    display: block;
}

.bioCollaborateur .active:hover, .bioCollaborateur .active:focus {
    background: none !important;
}

.barillet {
    position: relative;
    margin: 100px auto 0 auto;
}

.colBarillet {
    width: 100%;
}

.bio {
    color: #1D1D1B;
}

.bio span {
    font-family: Cantarell;
    font-weight: 500;
    font-size: 17pt;
    text-transform: uppercase;
}

.bio .vision {
    margin-top: 10px;
    font-family: Cantarell;
    font-weight: 500;
    font-size: 14pt;
    text-transform: uppercase;
    font-style: normal;
}

.bio p {
    font-family: Lato;
    letter-spacing: .55pt;
    font-weight: 300;
    font-size: 12pt;
    font-style: italic;
}

@media screen and (max-width: 1200px) {
    .circle-container {
        width: 24em;
        height: 24em;
    }

    .circle-container > *:nth-of-type(1) {
    -moz-transform: rotate(630deg) translate(12em) rotate(-630deg);
    -ms-transform: rotate(630deg) translate(12em) rotate(-630deg);
    -webkit-transform: rotate(630deg) translate(12em) rotate(-630deg);
    transform: rotate(630deg) translate(12em) rotate(-630deg);
    }

    .circle-container > *:nth-of-type(2) {
    -moz-transform: rotate(702deg) translate(12em) rotate(-702deg);
    -ms-transform: rotate(702deg) translate(12em) rotate(-702deg);
    -webkit-transform: rotate(702deg) translate(12em) rotate(-702deg);
    transform: rotate(702deg) translate(12em) rotate(-702deg);
    }

    .circle-container > *:nth-of-type(3) {
    -moz-transform: rotate(774deg) translate(12em) rotate(-774deg);
    -ms-transform: rotate(774deg) translate(12em) rotate(-774deg);
    -webkit-transform: rotate(774deg) translate(12em) rotate(-774deg);
    transform: rotate(774deg) translate(12em) rotate(-774deg);
    }

    .circle-container > *:nth-of-type(4) {
    -moz-transform: rotate(846deg) translate(12em) rotate(-846deg);
    -ms-transform: rotate(846deg) translate(12em) rotate(-846deg);
    -webkit-transform: rotate(846deg) translate(12em) rotate(-846deg);
    transform: rotate(846deg) translate(12em) rotate(-846deg);
    }

    .circle-container > *:nth-of-type(5) {
    -moz-transform: rotate(918deg) translate(12em) rotate(-918deg);
    -ms-transform: rotate(918deg) translate(12em) rotate(-918deg);
    -webkit-transform: rotate(918deg) translate(12em) rotate(-918deg);
    transform: rotate(918deg) translate(12em) rotate(-918deg);
    }


    .collaborateurBarillet {
    width: 75px;
    }

    .bioCollaborateur > li {

    top: -320px;
    width: 15em;
    height: 15em;
    }

    .bio span {
    font-size: 12pt;
    }

    .bio .vision {
    margin-top: 7px;
    font-size: 10pt;
    }

    .bio p {
    font-size: 9pt;
    }

    .temoignage {
        margin-top: 70px;
    }

}

/* --------------------------------------------------------------------*/
/* -------------------------- Nos Residence ---------------------------*/
/* --------------------------------------------------------------------*/
/*.countRow {*/
/*margin-top: 30px;*/
/*margin-bottom: 50px;*/
/*}*/

/*.countTitle {*/
/*font-size: 100px;*/
/*font-weight: 300;*/
/*}*/

/*.countTitle::after {*/
/*content: "";*/
/*position: relative;*/
/*display: block;*/
/*width: 300px;*/
/*height: 2px;*/
/*margin: 0 auto;*/
/*background-color: #B5CC17;*/
/*}*/

/*.chiffreNom {*/
/*color: #676767;*/
/*font-family: Montserrat;*/
/*font-weight: 400;*/
/*letter-spacing: .55pt;*/
/*font-size: 16pt;*/
/*text-transform: uppercase;*/
/*}*/

.completeSearch {
    margin-top: 40px;
}

.search {
    height: 300px;
    background-color: #F2F2F2;
}

.onglet {
    height: 100px;
    background-color: #B3B3B3;
}

.tabs .tab a.active {
    background-color: #F2F2F2;
    color: inherit;
    height: 100px;
}

.tabs .tab a:hover {
    color: inherit;
}

.tabs .tab a {
    color: white;
    -moz-transition: 0s;
    -o-transition: 0s;
    -webkit-transition: 0s;
    transition: 0s;
    line-height: 1;
    height: 100px;
    padding-top: 6px;
    font-family: Montserrat;
    font-weight: 400;
    letter-spacing: .55pt;
    font-size: 12pt;
    text-transform: capitalize;
}

.tabs .indicator {
    display: none;
}

.search h4 {
    font-family: Montserrat;
    font-weight: 400;
    letter-spacing: .55pt;
    font-size: 16pt;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 60px;
}

.card .card-content p {
    color: #676767;
}

.rechercher {
    background-color: #F2F2F2;
    padding-bottom: 15px;
}

.rechercher button {
    color: white;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    /*background-color: B5CC17;*/
}

.localisation p {
    font-family: Montserrat;
    font-weight: 400;
    letter-spacing: .55pt;
    font-size: 13pt;
    text-transform: uppercase;
}

#localisation input[type="search"]:not(.browser-default) {
    height: 13pt;
    border-bottom: 1px solid #B5CC17;
}

#localisation input[type="search"]:focus:not(.browser-default):not([readonly]) {
    border-bottom: 1px solid #B5CC17;
    box-shadow: 0 1px 0 0 #B5CC17;
}

.dropdown-content li span {
    color: #B5CC17;
}

.curseur {
    margin-top: 30px;
    position: relative;
}

.slider.type2 {
    border: 1px solid #1D1D1B;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    width: 100%;
    position: absolute;
    height: 5px;
    background: #273545;
    left: -1px;
}

.type2 .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 24px;
    height: 24px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    cursor: pointer;
    background: #B5CC17;
    font-weight: bold;
    border: 1px solid white;
    outline: none;
    top: -10px;
    margin-left: -12px;
}

.type2 .ui-slider-range {
    background: #B5CC17;
    position: absolute;
    border: 0;
    top: -1px;
    bottom: -1px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    height: 5px;
    z-index: 1;
    left: -1px;
}

#type .type2 .ui-slider-range {
    background: #1D1D1B;
}

.budget p {
    font-family: Montserrat;
    font-weight: 400;
    letter-spacing: .55pt;
    font-size: 10pt;
    text-transform: uppercase;
    text-align: center;
}

.budget > input[type="number"]:not(.browser-default) {
    background-color: #B3B3B3;
    border: 1px solid white;
    padding: 0 8px 0 8px;
    height: 30px;
}

.typeSearch {
    position: relative;
    font-family: Montserrat;
    font-weight: 400;
    letter-spacing: .55pt;
    font-size: 13pt;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #676767;
}

.T1 {
    position: absolute;
    left: -3%;
}

.T2 {
    position: absolute;
    left: 21%;
}

.T3 {
    position: absolute;
    left: 46%;
}

.T4 {
    position: absolute;
    left: 71%;
}

.T5 {
    position: absolute;
    left: 95%;
}

.division1 {
    position: absolute;
    left: -1px;
    top: -8px;
    border-left-style: solid;
    border-left-width: 2px;
    height: 22px;
}

.division2 {
    position: absolute;
    left: 25%;
    top: -8px;
    border-left: 2px solid;
    height: 22px;
}

.division3 {
    position: absolute;
    left: 50%;
    top: -8px;
    border-left: 2px solid;
    height: 22px;
}

.division4 {
    position: absolute;
    left: 75%;
    top: -8px;
    border-left: 2px solid;
    height: 22px;
}

.division5 {
    position: absolute;
    left: 99%;
    top: -8px;
    border-left: 2px solid;
    height: 22px;
}

.card .card-image .card-title, .card .card-image .card-title .card-content {
    padding: 0 0;
    width: 100%;
}

.bandeau {
    background-color: rgba(255, 255, 255, .9);
    font-family: Montserrat;
    font-weight: 400;
    letter-spacing: .55pt;
}

.bandeau > h4 {
    font-size: 24pt;
    text-transform: uppercase;
    color: #1D1D1B;
    margin: 3px 5px;
}

.bandeau > div > .lieu {
    font-weight: 400;
    font-size: 15pt;
    text-transform: capitalize;
    color: #B5CC17;
    letter-spacing: .1pt;
}

.bandeau > div > .livraison {
    font-weight: 400;
    font-size: 15pt;
    text-transform: capitalize;
    color: #676767;
    letter-spacing: .1pt;
}

.bandeau > div > .prix {
    text-align: right;
    font-weight: 400;
    font-size: 15pt;
    color: #1D1D1B;
    letter-spacing: .1pt;
}

.bandeau > div > .type {
    text-align: right;
    font-weight: 400;
    font-size: 15pt;
    color: #1D1D1B;
    letter-spacing: .1pt;
}

#map {
    width: 100%;
    height: 450px;
    background-color: white;
    box-shadow: 1px 1px 10px #c2c2c2;
}

.infoWindow {
    font-family: Montserrat;
    font-weight: 400;
    letter-spacing: .55pt;
    text-transform: uppercase;
}

.infoImg {
    border: none;
    width: 200px;
}

@media screen and (max-width: 1200px) {
    .bandeau > div > .prix, .bandeau > div > .type {
        text-align: left;
    }
}

/* --------------------------------------------------------------------*/
/* ---------------------------- RESIDENCE -----------------------------*/
/* --------------------------------------------------------------------*/
.retourSearch1 a, .retourSearch1 a:hover, .retourSearch1 a:focus {
    background-color: #B3B3B3;
    margin: 20px 0;
}

.sliderResidence .slider, .sliderResidence .slider .slides {
    height: 600px;
}

.sliderResidence .prev {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    z-index: 100;
    padding: 0;
}

.sliderResidence .next {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
    z-index: 100;
    padding: 0;
}

.sliderResidence .prev > i, .sliderResidence .next > i {
    font-size: 128px;
}

.sliderResidence a > i {
    position: absolute;
    bottom: 5%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 64px;
}

#modalYtp .modal-content {
    padding: 0 !important;
}

.encart {
    position: absolute;
    padding: 10px 10px;
    background-color: rgba(0, 0, 0, 0.6);
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    color: white;
    font-family: Montserrat;
    letter-spacing: .55pt;
    text-transform: uppercase;
}

.encart h2 {
    font-weight: 300;
    margin: 0 0;
    font-size: 70pt;
}

.encart p {
    font-weight: 400;
    margin: 0 0;
    font-size: 24pt;
    font-style: italic;
}

.cartouche {
    height: 160px;
    margin: 40px 0;
    background-color: #f9f9f7;
    font-family: Montserrat;
    letter-spacing: .55pt;
}

.cartouche span {
    margin: 15px;
    text-transform: uppercase;
    font-size: 18pt;
    color: #B5CC17;
}

.cartouche p {
    font-size: 14pt;
}

.box-notesite {
    margin-top: 70px;
    margin-bottom: 50px;
}

#menuResidence nav {
    background-color: white;
    box-shadow: none;
}

#menuResidence {
    z-index: 500;
}

#menuResidence li {
    font-family: Montserrat;
    letter-spacing: .55pt;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14pt;
    color: #1D1D1B;
}

#menuResidence li a:hover {
    border-bottom: solid 2px #B5CC17;
    background-color: transparent;
    color: #B5CC17;
}

#menuResidence .active a {
    border-bottom: solid 2px #B5CC17;
    background-color: transparent;
    color: #B5CC17;
}

#menuResidence .active {
    background-color: transparent;
}

.accrocheResidence {
    margin-top: 70px;
    padding: 5px 20px 10px 20px;
    background-color: #f9f9f7;
}

.accroche {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    font-family: Lato;
    letter-spacing: .55pt;
    font-weight: 500;
    font-size: 25pt;
    font-style: italic;
    color: #676767;
}

.description {
    font-family: Cantarell;
    font-weight: 400;
    font-size: 17pt;
    color: #1D1D1B;
}

#offre {
    margin-top: 150px;
    position: relative;
}

.vignette {
    width: 150px;
}

.iconeOffre {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    z-index: 10;
    width: 70%;
}

.zoomOffre {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    -moz-transition: 1s;
    -o-transition: 1s;
    -webkit-transition: 1s;
    transition: 1s;
}

.flip-container {
    perspective: 1000px;
    float: left;
}

/* turning on hover */

.flip-container:hover .flipper {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
    width: 150px;
    height: 150px;
    text-align: center;
}

/* flipping speed here */

.flipper {
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

/* making the the other side hidden while flipping */

.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

/* front side is in front of a back side */

.front {
    z-index: 2;
}

/* back side */

.back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.back p {
    font-size: 11pt;
    font-family: Montserrat;
    letter-spacing: .55pt;
    border: 5px solid #B5CC17;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background-color: white;
    padding: 20px;
}

.filtreMap p {
    background-color: #e6e6e6;
    font-family: Montserrat;
    letter-spacing: .55pt;
    text-transform: uppercase;
}

.filtreMap {
    width: 36px;
}

.filtreMap [type="radio"]:checked + label img {
    border: 2px solid #B5CC17;
    -webkit-border-radius: 26px;
    -moz-border-radius: 26px;
    border-radius: 26px;
    padding: 3px 3px;
}

.filtreMap [type="radio"]:not(:checked) + label img {
    padding: 5px 5px;
}

.filtreMap [type="radio"]:not(:checked) + label, .filtreMap [type="radio"]:checked + label {
    padding-left: 0;
    padding-right: 0;
}

.filtreMap [type="radio"]:not(:checked) + label:before, .filtreMap [type="radio"]:not(:checked) + label:after {
    display: none;
}

.filtreMap [type="radio"]:checked + label:after, .filtreMap [type="radio"].with-gap:checked + label:before, [type="radio"].with-gap:checked + label:after {
    display: none;
}

.service, .transport {
    margin-top: 70px;
}

.service p, .transport p, .commerce p {
    margin: 10px 0;
}

.accordeon-residence ul {
    margin: 0;
}

.accordeon-entete {
    font-family: Montserrat;
    letter-spacing: .55pt;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14pt;
    background-color: #B3B3B3;
    padding: 10px 0;
    color: white;
}

.accordeon-residence .collapsible-header {
    padding: 0 0;
    font-family: Work Sans;
    letter-spacing: .55pt;
    font-weight: 500;
    font-size: 14pt;
}

.accordeon-residence .collapsible-body {
    padding: 0 0;
    font-family: Gill Sans;
    letter-spacing: .55pt;
    font-weight: 400;
    font-size: 13pt;
}

.accordeon-residence .collapsible-body {
    background-color: #F2F2F2;
}

.accordeon-residence .collapsible-body .row i {
    color: #676767;
}

.accordeon-residence .collapsible-body .row {
    padding: 5px 0;
}

.accordeon-residence .collapsible-body .row:hover {
    background-color: #ccf03f;
}

.colType, .colSurface, .colPrix {
    border-right: solid 2px white;
}

.accordeon-residence .greenMyO {
    width: 70%;
    text-transform: none;
    padding-left: 5px;
    padding-right: 5px;
}

.retourSearch2 a, .retourSearch2 a:hover, .retourSearch2 a:focus {
    background-color: #B3B3B3;
    margin: 80px 0;
}

.parallax-container {
    height: 100px;
}

@media screen and (max-width: 992px) {

    .sliderResidence .slider, .sliderResidence .slider .slides {
        height: 300px;
    }

    .encart {
        width: 100%;
    }

    .encart h2 {
        font-weight: 300;
        margin: 0 0;
        font-size: 35pt;
    }

    .encart p {
        font-weight: 400;
        font-size: 12pt;
        font-style: italic;
    }

    .sliderResidence .prev > i, .sliderResidence .next > i {
        font-size: 48px;
    }

    .box-notesite {
        margin-top: 40px;
    }

    #menuResidence a {
        font-size: 10pt;
        padding: 15px 5px;
    }

    .accroche {
        width: 100%;
        font-size: 20pt;
    }

    .description {
        font-size: 12pt;
    }
}

/* --------------------------------------------------------------------*/
/* -------------------------- APPARTEMENT -----------------------------*/
/* --------------------------------------------------------------------*/

.infoFlat {
    margin-bottom: 40px;
    font-family: Montserrat;
    letter-spacing: .55pt;

}

.referenceFlat {
    font-size: 20pt;
    text-transform: uppercase;
}

.offreFlat {
    position: relative;
    margin-top: 20px;
}

.offreFlat .flip-container {
    float: right;
}

.retourZone {
    position: relative;
    margin-top: 20px;
}

.retourFlat {
    position: absolute;
    font-family: Montserrat;
    letter-spacing: .55pt;
    text-transform: uppercase;
    color: white;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.retourZone img {
    filter: brightness(70%);
    width: 100%;
}

.residenceFlat h2 {
    font-weight: 300;
    font-size: 40pt;
    color: #B5CC17;
}

.residenceFlat p {
    font-weight: 300;
    font-size: 30pt;
    font-style: italic;
    color: #676767;
}


.infoFlat2 {
    margin-top: 70px;
    font-family: Montserrat;
    letter-spacing: .55pt;
    text-transform: uppercase;
}

.typeFlat {
    font-size: 21pt;
}

.prixFlat {
    font-size: 26pt;
    color: #B5CC17;
}

.pdfIcon {
    float: right;
    width: 70px;
}

.descriptif {
    font-family: Montserrat;
    letter-spacing: .55pt;
}

.descriptif p {
    float: left;
    font-size: 14pt;
}

.descriptif span {
    float: right;
    font-size: 16pt;
}

.descriptifLine {
    border-bottom: 2px solid #B5CC17;
    margin-bottom: 20px;
}


.icon-apt {
    width: 60px;
    height: 60px;
}

.accrocheResidenceFlat {
    margin: 70px 0;
    background-color: #f9f9f7;
}

.accrocheFlat {
    padding-top: 20px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    font-family: Lato;
    letter-spacing: .55pt;
    font-weight: 500;
    font-size: 25pt;
    font-style: italic;
    color: #676767;
}

.descriptionFlat {
    padding-bottom: 20px;
    font-family: Cantarell;
    font-weight: 400;
    font-size: 17pt;
    color: #1D1D1B;
}

.partage {
    margin-top: 40px;
    font-family: Montserrat;
    letter-spacing: .55pt;
    font-size: 19pt;
    display: inline-flex;
}

.partage p {
    padding: 0 20px;
}

/* --------------------------------------------------------------------*/
/* --------------------------- MY ORLEANS -----------------------------*/
/* --------------------------------------------------------------------*/

.presentation {
    background-color: #F2F2F2;
}

.presentation p {
    padding: 5px 20px;
    font-family: Cantarell;
    font-weight: 400;
    font-size: 14pt;
}

.imageEquipe {
    margin-top: 20px;
}

.carouselRea .carousel .carousel-item>img {
    width: 400px;
    margin-left: -100px;
}

.realisation {
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-family: Montserrat;
    letter-spacing: .55pt;
    font-size: 19pt;
    position: absolute;
    top: 60%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 0;
}

.carouselRea .active:hover .realisation {
    opacity: 1;
}

.carouselRea .active:hover img {
    filter: brightness(70%);

}

.partenaire {
    width: 100%;
    margin: 10px;
    filter: grayscale(100%);
}

.carouselEvenement .carousel .carousel-item{
    /*height: 600px;*/
    margin-left: -100px;
    margin-top: -100px;
}

.carouselEvenement .carousel {
    overflow: visible;
    margin-bottom: 100px;
}

.polaroid {
    width: 400px;
    height: 500px;
    background-color: white;
    box-shadow: 1px 1px 10px #c2c2c2;
    padding: 10px;
    font-family: Montserrat;
    letter-spacing: .55pt;
}

.titreEvenement {
    background-color: #2d2d2d;
    color: white;
    height: 50px;
}

.titreEvenement span {
    font-size: 11pt;
    text-transform: uppercase;
}

.titreEvenement p {
    font-size: 10pt;
}

.evenement {
    background-color: #f9f9f4;
    height: 130px;
    font-size: 9pt;
}

.evenement p {
    padding: 10px;
}

.polaroid .responsive-img {
    padding: 0;
    object-fit: cover;
    height: 300px;
}