/* --------------------------------------------------------------------*/
/* ----------------------------- GENERAL ------------------------------*/
/* --------------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
}

body {
    color: #1D1D1B;
}
a {
    color: inherit;
}

h1 {
    text-align: center;
    color: #B5CC17;
    font-family: Montserrat;
    font-weight: 300;
    font-size: 34pt;
    margin-top: 70px;
    text-transform: uppercase;
}

.align-icon {
    display: inline-flex;
    vertical-align: middle;
    padding-right: 10px;
}

.row {
    margin-bottom: 0;
}

.greenMyO, .greenMyO:hover, .greenMyO:focus, .greenMyO:active{
    background-color: #B5CC17;
}

.accrocheResidence {
    box-shadow: none;
}

/* --------------------------------------------------------------------*/
/* ----------------------------- NAVBAR -------------------------------*/
/* --------------------------------------------------------------------*/
.logo {
    height: 50px;
    margin-top: 7px;
    margin-left: 7px;
}

nav {
    background-color: #F2F2F2;
    z-index: 500;
    /*position: fixed;*/
}

nav ul a, nav li, nav label {
    color: #676767;
    font-family: Montserrat;
    font-weight: 400;
    letter-spacing: .55pt;
    font-size: 13pt;
}

nav label{
    margin-left: 20px;
    margin-right: 5px;
}

nav ul {
    margin-right: 20px;
}

#simpleSearch {
    display: none;
}

#simpleSearch input[type="search"]:not(.browser-default){
    height: 13pt;
    border-bottom: 1px solid #B5CC17;
}

#simpleSearch input[type="search"]:focus:not(.browser-default):not([readonly]){
    border-bottom: 1px solid #B5CC17;
    box-shadow: 0 1px 0 0 #B5CC17;
}

#simpleSearch input[type="text"]:not(.browser-default){
    height: 13pt;
    border-bottom: 1px solid #B5CC17;
    margin-top: 25px;
}

.button-collapse {
    color: #676767;
}

#mobile-demo input[type="search"]:not(.browser-default){
    height: 1rem;
    border-bottom: 1px solid #B5CC17;
    width: 80%;
    margin-left: 5%;
}

#mobile-demo input[type="search"]:focus:not(.browser-default):not([readonly]){
    border-bottom: 1px solid #B5CC17;
    box-shadow: 0 1px 0 0 #B5CC17;
}

#mobile-demo input[type="text"]:not(.browser-default){
    height: 13pt;
    border-bottom: 1px solid #B5CC17;
    width: 80%;
    margin-left: 5%;
}

#mobile-demo .select-wrapper span.caret {
    right: 15%;
}

.go button {
    color: #676767;
    border-radius: 6px;
    padding: 0 10px;
    margin: 0 15px;
}

/* --------------------------------------------------------------------*/
/* ----------------------------- FOOTER -------------------------------*/
/* --------------------------------------------------------------------*/
.footer1 {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #C8CACC;
    margin-top: 100px;
 }

footer h5 {
    color: white;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 19pt;
    letter-spacing: 0.5pt;
    margin-bottom: 20px;
}

footer p {
    font-family: Cantarell;
    font-weight: 400;
    font-size: 16pt;
    letter-spacing: 0.1pt;
    margin-top: 0px;
    margin-bottom: 0px;
}

.footer2 {
    background-color: #B3B3B3;
    padding-top: 10px;
    padding-bottom: 10px;
}

.h5Footer {
    margin-top: 40px;
}

.bordureFooter {
    border-left: 1px solid white;
    border-right: 1px solid white;
}
.social-btn {
    height: 65px;
    width: 65px;
    border-radius: 50px;
    background-color: white;
    margin: 15px 50px 0 0;
    -webkit-transition: background-color 500ms ease-out 10ms;
    -moz-transition: background-color 500ms ease-out 10ms;
    -o-transition: background-color 500ms ease-out 10ms;
    transition: background-color 500ms ease-out 10ms;
}

.social-btn:hover {
    background-color: #1D1D1B;
}

.icon-social {
    margin-top: 10px;
    margin-left: 13px;
    color: #C8CACC;
}

.fb-social {
    margin-top: 11px;
    margin-left: 17px;
    color: #C8CACC;
}

.linkFooter a{
    -webkit-transition: color 500ms ease-out 10ms;
    -moz-transition: color 500ms ease-out 10ms;
    -o-transition: color 500ms ease-out 10ms;
    transition: color 500ms ease-out 10ms;
}

.linkFooter a:hover{
    color: white;
}

.logoFooter {
    height: 48px;
}
/* --------------------------------------------------------------------*/
/* ---------------------- FORMULAIRE DE CONTACT -----------------------*/
/* --------------------------------------------------------------------*/
.formulaireBouton a{
    text-decoration: none;
    color:white;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.35);
    background-color: #B5CC17;
    overflow: hidden;
    border-radius: 5px;
    margin-top: 100px;
    position: fixed;
    right: 20px;
    padding: 10px;
    z-index: 200;
    -webkit-animation: pulse 2s infinite cubic-bezier(0, 0, 0, 0.1);
    -moz-animation: pulse 2s infinite cubic-bezier(0, 0, 0, 0.1);

    animation: pulse 2s infinite cubic-bezier(0, 0, 0, 0.1);

}

.pulse-button:hover
{
    -webkit-animation: none;-moz-animation: none;animation: none;
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}

.formulaireVolet{
    width: 600px;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.9);
    padding-bottom: 50px;

}

[type="radio"]:not(:checked) + label,[type="radio"]:checked + label{
    padding-left: 25px;
    padding-right: 30px;
}

[type="checkbox"] + label{
    padding-left: 25px;
    padding-right: 30px;
}

[type="radio"]:checked + label::after{
    background-color: #B5CC17;
    border: #B5CC17;
}

.newsletter{
    text-align: center;
}

.envoyer{
    margin-bottom: 100px;
}

/* --------------------------------------------------------------------*/
/* ------------------------ BACK TO TOP --------------------------*/
/* --------------------------------------------------------------------*/

#back-top {
    position: fixed;
    bottom: 30px;
    z-index: 99;
}

#back-top a {
    position: fixed;
    right: 20px;
    bottom: 15px;
    width: 108px;
    display: block;
    text-align: center;
    font: 11px/100% Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #bbb;

    /* transition */
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}
#back-top a:hover {
    color: #000;
}

/* arrow icon (span tag) */
#back-top span {
    width: 108px;
    height: 108px;
    display: block;
    margin-bottom: 7px;
    /*background: #ddd url(img/up-arrow.png) no-repeat center center;*/

    /* rounded corners */
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;

    /* transition */
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}
#back-top a:hover span {
    background-color: #777;
}

#back-top a img{
    height: 20%;
    width: 20%;

}

/* --------------------------------------------------------------------*/
/* ------------------------------ INDEX -------------------------------*/
/* --------------------------------------------------------------------*/
.accueil {
    position: relative;
}

.accueil video{
    filter: brightness(50%);
}

.accueil > .logoAccueil {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 50%;
}

.accueil .imageAccueil{
    filter: brightness(50%);
    width: 100%;
}


.mosaic {
    margin-top: 70px;
    display:flex;
}

.voir{
    background-color: #F2F2F2;
    text-align: center;
    margin:5px;
    height:60px;
    color: #676767;
    font-family: Montserrat;
    font-weight: 400;
    letter-spacing: .55pt;
    font-size: 12pt;
    padding-top: 15px;
}


.zone{
    margin:5px;
    text-align: center;
    flex:1;
    transition: 500ms;
    overflow: hidden;
    position: relative;
}

.zone:hover{
    flex:2;
    transition: 500ms;
}

.zone > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 500ms;
}

.colonne{
    display:flex;
    flex-direction: column;
    height:700px;
    flex:1;
    transition: 500ms;
    overflow: hidden;
}

.colonne:hover{
    flex:2;
    transition: 500ms;
}

.zone > .contenu{
    background-color: rgba(242,242,242,.8);
    text-transform: uppercase;
    position: absolute;
    top: 20%;
    left: 5%;
    width: 90%;
    height: 60%;
    opacity: 0;
    font-family: Montserrat;
    font-weight: 300;
    font-size: 30pt;
    line-height: 100%;
}

.contenu > a {
    text-align: center;
    color: rgba(242,242,242,.8);
    background-color: #676767;
    font-size: 15pt;
    padding: 5px;
}

.zone:hover .contenu{
    opacity: 1;
    transition-delay: 500ms;
 }

.zone:hover > img {
    filter: brightness(40%);
    transition: 500ms;
}
.contenu > p {
    margin-bottom: 5%;
    margin-top: 30px;
}

.temoignage {
    margin-top: 150px;
}

.enteteCarousel{
    background-color: #F2F2F2;
    text-align: center;
    color: #676767;
    font-family: Montserrat;
    font-weight: 400;
    letter-spacing: .55pt;
    font-size: 16pt;
}

.enteteCarousel > p {
    padding: 15px;
}

.slider {
    position: relative;
}

.imageTemoignage {
    filter: brightness(60%);
}

.slider .slides li .caption {
    top: 0;
    left: 0;
    width: 100%;
    font-family: Cantarell;
    font-weight: 400;
    letter-spacing: 0.1pt;
}

.slider .slides li .caption h5 {
    font-size: 16pt;
}

.prev {
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left: -45px;
    z-index: 100;
}
.next {
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    right: -45px;
    z-index: 100;
}

.btn-large .fa-caret-right {
     font-size: 64px;
     margin-left: 6px;
 }

.btn-large .fa-caret-left {
    font-size: 64px;
    margin-left: -9px;
}

@media screen and (max-width: 992px) {
    .mosaic {
        display:flex;
        flex-direction: column;
    }

    .zone > img {
        height: 350px;
        object-fit: cover;
        transition: 500ms;
    }

    .milieu {
        order: 3;
    }
}
/* --------------------------------------------------------------------*/
/* -------------------------- Nos Residence ---------------------------*/
/* --------------------------------------------------------------------*/
.countRow{
    margin-top: 30px;
    margin-bottom: 50px;
}

.countTitle{
    font-size: 100px;
    font-weight: 300;
}

.countTitle::after {
    content: "";
    position: relative;
    display: block;
    width: 300px;
    height: 2px;
    margin: 0 auto;
    background-color: #B5CC17;
}

.chiffreNom {
    color: #676767;
    font-family: Montserrat;
    font-weight: 400;
    letter-spacing: .55pt;
    font-size: 16pt;
    text-transform: uppercase;
}

.search {
    height: 300px;
    background-color: #F2F2F2;
}

.onglet {
    height: 100px;
    background-color: #B3B3B3;
}

.tabs .tab a.active {
    background-color: #F2F2F2;
    color: inherit;
    height: 100px;
}

.tabs .tab a:hover{
    color: inherit;
}

.tabs .tab a {
    color: white;
    transition: 0s;
    line-height: 1;
    height: 100px;
    padding-top: 6px;
    font-family: Montserrat;
    font-weight: 400;
    letter-spacing: .55pt;
    font-size: 12pt;
    text-transform: capitalize;
}

.tabs .indicator {
    display: none;
}

.search h4 {
    font-family: Montserrat;
    font-weight: 400;
    letter-spacing: .55pt;
    font-size: 16pt;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 60px;
}

.card .card-content p {
    color: #676767;
}

.rechercher {
    background-color: #F2F2F2;
    padding-bottom: 15px;
}

.rechercher button {
    color: #676767;
    border-radius: 6px;
}

.localisation p{
    font-family: Montserrat;
    font-weight: 400;
    letter-spacing: .55pt;
    font-size: 13pt;
    text-transform: uppercase;
}

#localisation input[type="search"]:not(.browser-default){
    height: 13pt;
    border-bottom: 1px solid #B5CC17;
}

#localisation input[type="search"]:focus:not(.browser-default):not([readonly]){
    border-bottom: 1px solid #B5CC17;
    box-shadow: 0 1px 0 0 #B5CC17;
}

.dropdown-content li span{
    color: #B5CC17;
}

.curseur {
    margin-top: 30px;
    position: relative;
}

.slider.type2{
    border: 1px solid #1D1D1B;
    border-radius: 25px;
    width: 100%;
    position: absolute;
    height: 5px;
    background: #273545;
    left: -1px;
}
.type2 .ui-slider-handle{
    position: absolute;
    z-index: 2;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    cursor: pointer;
    background: #B5CC17;
    font-weight: bold;
    border: 1px solid white;
    outline: none;
    top: -10px;
    margin-left: -12px;
}
.type2 .ui-slider-range{
    background: #B5CC17;
    position: absolute;
    border: 0;
    top: -1px;
    bottom: -1px;
    border-radius: 3px;
    height: 5px;
    z-index: 1;
    left: -1px;
}

.budget p{
    font-family: Montserrat;
    font-weight: 400;
    letter-spacing: .55pt;
    font-size: 10pt;
    text-transform: uppercase;
    text-align: center;
}

.budget > input[type="number"]:not(.browser-default){
    background-color: #B3B3B3;
    border: 1px solid white;
    padding: 0 8px 0 8px;
    height: 30px;
}

.typeSearch {
    position: relative;
    font-family: Montserrat;
    font-weight: 400;
    letter-spacing: .55pt;
    font-size: 13pt;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #676767;
}

.T1 {
    position: absolute;
    left: -3%;
}

.T2 {
    position: absolute;
    left: 21%;
}

.T3{
    position: absolute;
    left: 46%;
}

.T4 {
    position: absolute;
    left: 71%;
}

.T5 {
    position: absolute;
    left: 95%;
}

.division1 {
    position: absolute;
    left: -1px;
    top: -8px;
    border-left-style: solid;
    border-left-width: 2px;
    height: 22px;
}

.division2 {
    position: absolute;
    left: 25%;
    top: -8px;
    border-left: 2px solid;
    height: 22px;
}

.division3 {
    position: absolute;
    left: 50%;
    top: -8px;
    border-left: 2px solid;
    height: 22px;
}

.division4 {
    position: absolute;
    left: 75%;
    top: -8px;
    border-left: 2px solid;
    height: 22px;
}

.division5 {
    position: absolute;
    left: 99%;
    top: -8px;
    border-left: 2px solid;
    height: 22px;
}

.card .card-image .card-title, .card .card-image .card-title .card-content{
    padding: 0 0;
    width: 100%;
}

.bandeau {
    background-color: rgba(255,255,255,.9);
    font-family: Montserrat;
    font-weight: 400;
    letter-spacing: .55pt;
}

.bandeau > h4 {
    font-size: 24pt;
    text-transform: uppercase;
    color: #1D1D1B;
    margin: 3px 5px;
}

.bandeau > div > .lieu {
    font-weight: 400;
    font-size: 15pt;
    text-transform: capitalize;
    color: #B5CC17;
    letter-spacing: .1pt;
}

.bandeau > div > .livraison{
    font-weight: 400;
    font-size: 15pt;
    text-transform: capitalize;
    color: #676767;
    letter-spacing: .1pt;
}

.bandeau > div > .prix {
    text-align: right;
    font-weight: 400;
    font-size: 15pt;
    color: #1D1D1B;
    letter-spacing: .1pt;
}

.bandeau > div > .type {
    text-align: right;
    font-weight: 400;
    font-size: 15pt;
    color: #1D1D1B;
    letter-spacing: .1pt;
}

#map {
    width: 100%;
    height: 450px;
    background-color: white;
    box-shadow: 1px 1px 10px #c2c2c2;
}

@media screen and (max-width: 1200px) {
    .bandeau > div > .prix, .bandeau > div > .type {
        text-align: left;
    }
}

/* --------------------------------------------------------------------*/
/* ---------------------------- RESIDENCE -----------------------------*/
/* --------------------------------------------------------------------*/
.retourSearch1 a, .retourSearch1 a:hover, .retourSearch1 a:focus{
    background-color: #B3B3B3;
    margin: 20px 0;
}

.sliderResidence .slider, .sliderResidence .slider .slides {
    height: 600px;
}

.sliderResidence .prev {
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left: 0;
    z-index: 100;
    padding: 0;
}

.sliderResidence .next {
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    right: 0;
    z-index: 100;
    padding: 0;
}

.sliderResidence .prev > i, .sliderResidence .next > i{
     font-size: 128px;
}

.sliderResidence a > i {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 64px;
}

#modalYtp .modal-content {
    padding: 0!important;
}

.encart {
    position: absolute;
    padding: 10px 10px;
    background-color: rgba(0, 0, 0, 0.6);
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: white;
    font-family: Montserrat;
    letter-spacing: .55pt;
    text-transform: uppercase;
}

.encart h2 {
    font-weight: 300;
    margin: 0 0;
    font-size: 70pt;
}

.encart p {
    font-weight: 400;
    margin: 0 0;
    font-size: 24pt;
    font-style: italic;
}

.cartouche {
    position: relative;
    width: 70%;
    margin-top: -10px;
    background-color: #e6e6e6;
    z-index: 100;
    font-family: Montserrat;
    letter-spacing: .55pt;
    text-transform: uppercase;
    font-size: 13pt;
    color: #1D1D1B;
}

.cartouche .row {
    padding: 15px 10px;
}

.cartouche .col {
    padding: 0 0;
}

.situation {
    margin-top: 30px;
}

.situation p{
    font-family: Montserrat;
    letter-spacing: .55pt;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 18pt;
    font-style: italic;
    color: #1D1D1B;
}

.box-notesite {
    margin-top: 70px;
    margin-bottom: 50px;
}

#menuResidence{
    background-color: #f9f9f4;
    border-bottom: solid 2px #e6e6e6;
    z-index: 100;
    margin-bottom: 10px;
}

#menuResidence li{
    font-family: Montserrat;
    letter-spacing: .55pt;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14pt;
    color: #1D1D1B;
    padding: 15px 0;
}

#menuResidence .active {
    font-weight: 500;
    background-color: #e6e6e6;
}

.accrocheResidence {
    margin-top: 70px;
    padding: 5px 20px 10px 20px;
    background-color: #f9f9f7;
}

.accroche {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    font-family: Lato;
    letter-spacing: .55pt;
    font-weight: 500;
    font-size: 25pt;
    font-style: italic;
    color: #676767;
}

.description {
    font-family: Cantarell;
    font-weight: 400;
    font-size: 17pt;
    color: #1D1D1B;
}

.filtreMap p {
    background-color: #e6e6e6;
    font-family: Montserrat;
    letter-spacing: .55pt;
    text-transform: uppercase;
}

.filtreMap span img {
    width: 36px;
}

.service, .transport {
    margin-top: 70px;
}
.service p, .transport p, .commerce p {
    margin: 10px 0;
}

.accordeon-residence ul {
    margin: 0;
}

.accordeon-entete {
    font-family: Montserrat;
    letter-spacing: .55pt;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14pt;
    background-color: #B3B3B3;
    padding: 10px 0;
    color: white;
}

.accordeon-residence .collapsible-header{
    padding: 0 0;
    font-family: Work Sans;
    letter-spacing: .55pt;
    font-weight: 500;
    font-size: 14pt;
}

.accordeon-residence .collapsible-body{
    padding: 0 0;
    font-family: Gill Sans;
    letter-spacing: .55pt;
    font-weight: 400;
    font-size: 13pt;
}

.accordeon-residence .collapsible-body{
    background-color: #F2F2F2;
}

.accordeon-residence .collapsible-body .row i{
    color: #676767;
}

.accordeon-residence .collapsible-body .row{
    padding: 5px 0;
}

.accordeon-residence .collapsible-body .row:hover {
    background-color: #ccf03f;
}

.colType, .colSurface, .colPrix {
    border-right: solid 2px white;
}

.accordeon-residence .greenMyO {
    width: 70%;
    text-transform: none;
    padding-left: 5px;
    padding-right: 5px;
}

.retourSearch2 a, .retourSearch2 a:hover, .retourSearch2 a:focus{
    background-color: #B3B3B3;
    margin: 80px 0;
}

.parallax-container {
    height: 250px;
}

.parallax-container .parallax img {
    max-width: 50%;
    filter: grayscale(100%);
}

@media screen and (max-width: 992px) {

    .sliderResidence .slider, .sliderResidence .slider .slides {
        height: 300px;
    }

    .encart {
        width: 100%;
    }

    .encart h2 {
        font-weight: 300;
        margin: 0 0;
        font-size: 35pt;
    }

    .encart p {
        font-weight: 400;
        font-size: 12pt;
        font-style: italic;
    }

    .sliderResidence .prev > i, .sliderResidence .next > i{
        font-size: 48px;
    }

    .box-notesite {
        margin-top: 40px;
    }

    #menuResidence a {
        font-size: 10pt;
        padding: 15px 5px;
    }

    .accroche {
        width: 100%;
        font-size: 20pt;
    }

    .description {
        font-size: 12pt;
    }
}