/* --------------------------------------------------------------------*/
/* ----------------------------- GENERAL ------------------------------*/
/* --------------------------------------------------------------------*/
body {
    color: #1D1D1B;
}
a {
    color: inherit;
}

h1 {
    text-align: center;
    color: #B5CC17;
    font-family: Montserrat;
    font-weight: 300;
    font-size: 34pt;
    margin-top: 70px;
}

.align-icon {
    display: inline-flex;
    vertical-align: middle;
    padding-right: 10px;
}

.row {
    margin-bottom: 0px;
}
/* --------------------------------------------------------------------*/
/* ----------------------------- NAVBAR -------------------------------*/
/* --------------------------------------------------------------------*/
.logo {
    height: 50px;
    margin-top: 7px;
    margin-left: 7px;
}

nav {
    background-color: #F2F2F2;
}

nav ul a, nav a {
    color: #676767;
    font-family: Montserrat;
    font-weight: 400;
    letter-spacing: .55pt;
    font-size: 13pt;
}

/* --------------------------------------------------------------------*/
/* ----------------------------- FOOTER -------------------------------*/
/* --------------------------------------------------------------------*/
.footer1 {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #C8CACC;
    margin-top: 100px;
 }

footer h5 {
    color: white;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 19pt;
    letter-spacing: 0.5pt;
    margin-bottom: 20px;
}

footer p {
    font-family: Cantarell;
    font-weight: 400;
    font-size: 16pt;
    letter-spacing: 0.1pt;
    margin-top: 0px;
    margin-bottom: 0px;
}

.footer2 {
    background-color: #B3B3B3;
    padding-top: 10px;
    padding-bottom: 10px;
}

.h5Footer {
    margin-top: 40px;
}

.bordureFooter {
    border-left: 1px solid white;
    border-right: 1px solid white;
}
.social-btn {
    height: 65px;
    width: 65px;
    border-radius: 50px;
    background-color: white;
    margin: 15px 50px 0 0;
    -webkit-transition: background-color 500ms ease-out 10ms;
    -moz-transition: background-color 500ms ease-out 10ms;
    -o-transition: background-color 500ms ease-out 10ms;
    transition: background-color 500ms ease-out 10ms;
}

.social-btn:hover {
    background-color: #1D1D1B;
}

.icon-social {
    margin-top: 10px;
    margin-left: 13px;
    color: #C8CACC;
}

.fb-social {
    margin-top: 11px;
    margin-left: 17px;
    color: #C8CACC;
}

.linkFooter a{
    -webkit-transition: color 500ms ease-out 10ms;
    -moz-transition: color 500ms ease-out 10ms;
    -o-transition: color 500ms ease-out 10ms;
    transition: color 500ms ease-out 10ms;
}

.linkFooter a:hover{
    color: white;
}

.logoFooter {
    height: 48px;
}
/* --------------------------------------------------------------------*/
/* ---------------------- FORMULAIRE DE CONTACT -----------------------*/
/* --------------------------------------------------------------------*/
.formulaireBouton a{
    text-decoration: none;
    color:white;
    /*centering*/
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.35);
    background-color: #B5CC17;
    overflow: hidden;
    border-radius: 5px;
    margin-top: 100px;
    position: fixed;
    right: 20px;
    padding: 10px;
    z-index: 200;
    -webkit-animation: pulse 2s infinite cubic-bezier(0, 0, 0, 0.1);
    -moz-animation: pulse 2s infinite cubic-bezier(0, 0, 0, 0.1);

    animation: pulse 2s infinite cubic-bezier(0, 0, 0, 0.1);

}

.pulse-button:hover
{
    -webkit-animation: none;-moz-animation: none;animation: none;
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}

.formulaireVolet{
    width: 600px;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.9);
    padding-bottom: 50px;

}

[type="radio"]:not(:checked) + label,[type="radio"]:checked + label{
    padding-left: 25px;
    padding-right: 30px;
}

[type="checkbox"] + label{
    padding-left: 25px;
    padding-right: 30px;
}

.newsletter{
    text-align: center;
}

.envoyer{
    margin-bottom: 100px;
}

/* --------------------------------------------------------------------*/
/* ------------------------------ INDEX -------------------------------*/
/* --------------------------------------------------------------------*/
.accueil {
    position: relative;
}

.accueil video{
    filter: brightness(50%);
}

.accueil > .logoAccueil {
    position: absolute;
    top: 35%;
    left: 25%;
    width: 50%;
}

.accueil .imageAccueil{
    filter: brightness(50%);
    width: 100%;
}


.mosaic {
    margin-top: 70px;
    display:flex;
}

.voir{
    background-color: #F2F2F2;
    text-align: center;
    margin:5px;
    height:60px;
    color: #676767;
    font-family: Montserrat;
    font-weight: 400;
    letter-spacing: .55pt;
    font-size: 12pt;
    padding-top: auto;
}


.zone{
    margin:5px;
    text-align: center;
    flex:1;
    transition: 500ms;
    overflow: hidden;
    position: relative;
}

.zone:hover{
    flex:2;
    transition: 500ms;
}

.zone > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 500ms;
}

.colonne{
    display:flex;
    flex-direction: column;
    height:700px;
    flex:1;
    transition: 500ms;
    overflow: hidden;
}

.colonne:hover{
    flex:2;
    transition: 500ms;
}

.zone > .contenu{
    background-color: rgba(242,242,242,.8);
    text-transform: uppercase;
    position: absolute;
    top: 20%;
    left: 5%;
    width: 90%;
    height: 60%;
    opacity: 0;
    font-family: Montserrat;
    font-weight: 300;
    font-size: 30pt;
    line-height: 100%;
}

.contenu > a {
    text-align: center;
    color: rgba(242,242,242,.8);
    background-color: #676767;
    font-size: 15pt;
    padding: 5px;
}

.zone:hover .contenu{
    opacity: 1;
    transition-delay: 500ms;
 }

.zone:hover > img {
    filter: brightness(40%);
    transition: 500ms;
}
.contenu > p {
    margin-bottom: 5%;
}

.temoignage {
    margin-top: 150px;
}

.enteteCarousel{
    background-color: #F2F2F2;
    text-align: center;
    /*height:60px;*/
    color: #676767;
    font-family: Montserrat;
    font-weight: 400;
    letter-spacing: .55pt;
    font-size: 16pt;
}

.enteteCarousel > p {
    padding: 15px;
}

.slider {
    position: relative;
}

.imageTemoignage {
    filter: brightness(60%);
}

.slider .slides li .caption {
    top: 0;
    left: 0;
    width: 100%;
    font-family: Cantarell;
    font-weight: 400;
    letter-spacing: 0.1pt;
}

.slider .slides li .caption h5 {
    font-size: 16pt;
}

.prev {
    position: absolute;
    bottom:40%;
    left: -45px;
    z-index: 100;
}
.next {
    position: absolute;
    bottom:40%;
    right: -45px;
    z-index: 100;
}
.btn-large .fa-caret-right {
     font-size: 64px;
     margin-left: 6px;
 }

.btn-large .fa-caret-left {
    font-size: 64px;
    margin-left: -9px;
}

@media screen and (max-width: 992px) {
    .mosaic {
        display:flex;
        flex-direction: column;
    }

    .zone > img {
        height: 350px;
        object-fit: cover;
        transition: 500ms;
    }

    .milieu {
        order: 3;
    }
}
/* --------------------------------------------------------------------*/
/* -------------------------- Nos Residence ---------------------------*/
/* --------------------------------------------------------------------*/
.countRow{
    margin-top: 50px;
    margin-bottom: 50px;
}

.countTitle{
    font-size: 100px;
    font-weight: 300;
}

.countTitle::after {
    content: "";
    position: relative;
    display: block;
    width: 300px;
    height: 2px;
    margin: 0 auto;
    background-color: #B5CC17;
}

.chiffreNom {
    color: #676767;
    font-family: Montserrat;
    font-weight: 400;
    letter-spacing: .55pt;
    font-size: 16pt;
    text-transform: uppercase;
}

.search {
    height: 300px;
    background-color: #F2F2F2;
}

.onglet {
    height: 100px;
    background-color: #B3B3B3;
}

.tabs .tab a.active {
    background-color: #F2F2F2;
    color: inherit;
    height: 100px;
}

.tabs .tab a:hover{
    color: inherit;
}

.tabs .tab a {
    color: white;
    transition: 0s;
    line-height: 1;
    height: 100px;
    padding-top: 6px;
    font-family: Montserrat;
    font-weight: 400;
    letter-spacing: .55pt;
    font-size: 12pt;
    text-transform: capitalize;
}

.tabs .indicator {
    display: none;
}

.search h4 {
    font-family: Montserrat;
    font-weight: 400;
    letter-spacing: .55pt;
    font-size: 16pt;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 60px;
}

.curseur {
    margin-top: 30px;
    position: relative;
}

.slider.type2{
    border-width: 1px;
    border-style: solid;
    border-color: #1D1D1B;
    border-radius: 25px;
    width: 100%;
    position: absolute;
    height: 5px;
    background: #273545;
    left: 0;
}
.type2 .ui-slider-handle{
    position: absolute;
    z-index: 2;
    width: 25px;
    height: 25px;
    border-radius: 12px;
    cursor: pointer;
    background: #B5CC17;
    font-weight: bold;
    border-color: white;
    border-width: 1px;
    border-style: solid;
    outline: none;
    top: -10px;
    margin-left: -12px;
}
.type2 .ui-slider-range{
    background: #B5CC17;
    position: absolute;
    border: 0;
    top: -1px;
    bottom: -1px;
    border-radius: 3px;
}

.compteur p{
    font-family: Montserrat;
    font-weight: 400;
    letter-spacing: .55pt;
    font-size: 10pt;
    text-transform: uppercase;
    text-align: center;
}

.compteur > input[type="number"]:not(.browser-default){
    margin: 0 0;
    background-color: #B3B3B3;
    border-color: white;
    border-width: 1px;
    border-style: solid;
    padding: 0 8px 0 8px;
    height: 30px;
}

.card .card-image .card-title, .card .card-image .card-title .card-content{
    padding: 0 0;
    width: 100%;
}

.bandeau {
    background-color: rgba(255,255,255,.9);
    font-family: Montserrat;
    font-weight: 400;
    letter-spacing: .55pt;
}

.bandeau > h4 {
    font-size: 24pt;
    text-transform: uppercase;
    color: #1D1D1B;
    margin: 3px 5px;
}

.bandeau > div > .lieu {
    font-weight: 400;
    font-size: 15pt;
    text-transform: capitalize;
    color: #B5CC17;
    margin: 0 0;
    letter-spacing: .1pt;
}

.bandeau > div > .livraison{
    font-weight: 400;
    font-size: 15pt;
    text-transform: capitalize;
    color: #676767;
    margin: 0 0;
    letter-spacing: .1pt;
}

.bandeau > div > .prix {
    text-align: right;
    font-weight: 400;
    font-size: 15pt;
    color: #1D1D1B;
    margin: 0 0;
    letter-spacing: .1pt;
}

.bandeau > div > .type {
    text-align: right;
    font-weight: 400;
    font-size: 15pt;
    color: #1D1D1B;
    margin: 0 0;
    letter-spacing: .1pt;
}

#map {
    width: 100%;
    height: 450px;
    background-color: white;
    box-shadow: 1px 1px 10px #c2c2c2;

}

@media screen and (max-width: 1200px) {
    .bandeau > div > .prix, .bandeau > div > .type {
        text-align: left;
    }
}
